@using MatchFlix_Frontend.Components.IconPiece;

<div class="matchSection">
@*    <IconPiece iconURL="relationshipclr.png"></IconPiece>
    <IconPiece iconURL="swipeclr.png"></IconPiece>
    <IconPiece iconURL="watchingclr2.png"></IconPiece>*@
    <IconPiece></IconPiece>
    <IconPiece></IconPiece>
    <IconPiece></IconPiece>
</div>

@code {

}
