
<div class="matchSection">
    <div class="hostBox">
        <div class="hostExplanationBox">
            <div class="hostTitle">
                <h1>HOST</h1>
            </div>
            <div class="hostText">
                <div class="iconWithText">
                    <Icon Type="usergroup-add" Theme="outline" /> Host a group
                </div>
                <div class="iconWithText">
                    <Icon Type="share-alt" Theme="outline" /> Share your room pin
                </div>
                <div class="iconWithText">
                    <Icon Type="split-cells" Theme="outline" /> Swipe away!
                </div>
                <div class="iconWithText">
                    <Icon Type="message" Theme="outline" /> Discuss the results
                </div>
            </div>
        </div>
    </div>
    <div class="joinBox">
        <div class="joinExplanationBox">
            <div class="joinTitle">
                <h1>JOIN</h1>
            </div>
            <div class="joinText">
                <div class="iconWithText">
                    <Icon Type="borderless-table" Theme="outline" /> Join a group using a room pin
                </div>
                <div class="iconWithText">
                    <Icon Type="smile" Theme="outline" /> Socialize in the lobby
                </div>
                <div class="iconWithText">
                    <Icon Type="split-cells" Theme="outline" /> Swipe away!
                </div>
                <div class="iconWithText">
                    <Icon Type="message" Theme="outline" /> Discuss the results
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
