@page "/swipetest"
@inject HttpClient client


<div class="swipingContentPage">
    @if (endList == null)
    {

    }
    else
    {
<div class="endListContainer">

        @foreach (ShowDTO endShow in endList)
        {
            <Card Title=@(endShow.Title) Style="width:50%;height:50%;">
                <CardTabs>
                    <Tabs DefaultActiveKey="1">
                        <ChildContent>
                            <TabPane Key="1">
                                <Tab>Description</Tab>
                                <ChildContent>@endShow.Description <br/> @endShow.Release_date</ChildContent>
                            </TabPane>
                            <TabPane Key="2">
                                <Tab>Release Date</Tab>
                                <ChildContent>@endShow.Release_date</ChildContent>
                            </TabPane>
                            <TabPane Key="3">
                                <Tab>Trailer</Tab>
                                <ChildContent>Content of Tab Pane 3</ChildContent>
                            </TabPane>
                        </ChildContent>
                    </Tabs>
                </CardTabs>
            </Card>
        }

    <div style="width:50%;background-color:red;">
        
    </div>
    <BackTop></BackTop>
</div>
    }
</div>

@code{
    private List<ShowDTO> endList = new List<ShowDTO>();
    private bool isHidden { get; set; }

    protected override async Task OnInitializedAsync()
    {
        endList = await client.GetFromJsonAsync<List<ShowDTO>>("https://localhost:5021/topmovie");
    }
}