@page "/counter"
<h1>Counter</h1>


<Button Type="primary" @onclick="IncrementCount">click me!</Button>

<div style="background:#ECECEC; padding:30px">
    <Card Bordered="false" Title=@("Card title") Style="width: 300px">
        <Body>
            <p>Card content</p>
            <p>Card loll</p>
            <p>Henlo</p>
        </Body>
    </Card>
</div>




@code {

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
