@page "/login"
@using MatchFlix_Frontend.Components.LoginComponent;
@inject NavigationManager NavigationManager

<div class="loginBody" id="loginPage">
    <div class="navbar" id="loginNav" style="top:0;width:100vw;">
        <a>About</a>
        <a>FAQ</a>
        <Button Ghost OnClick="ToHome" id="loginButton">Home</Button>
    </div>
    <div style="border-radius: 15px; padding: 5%;" id="loginForm">
        <LoginComponent></LoginComponent>
    </div>
</div>
@code {
    public string txtValue { get; set; }

    void ToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}
