@page "/room/{userName}/{roomName}"

<h3>Room: @roomName</h3>
<h3>User: @userName</h3>

@code {
    [Parameter]
    public string roomName { get; set; }    
    [Parameter]
    public string userName { get; set; }
}
