@page "/test"

<div>
    <h1> hoi</h1>
    <Button Type="primary" Size="Large" OnClick="onButtonClick">
        Primary
    </Button>
</div>

<div style="width:50vw;">
    <TextArea ShowCount MaxLength=100 OnChange="onChange" Value="@text"/>
</div>


@code{
    private string text;

    private void onButtonClick()
    {
        Console.WriteLine(text);
    }

    private void onChange(string value)
    {
        text = value;
    }
}