@page "/test"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject NavigationManager uriHelper
@inject HttpClient client
@using System.Text.Json
@inject MessageService _message
@*<div class="isSwiping" @onmouseup="HandleMouseUp" @ontouchstart=HandleTouchStart @onkeypress:preventDefault=true @ontouchmove="HandleTouchMove"
         @ontouchend=HandleTouchEnd @onmousedown=HandleMouseDown @onmousemove=HandleMouseMove style="overflow:hidden;">
        <div class="heartSwipe">
            <svg width="150" height="150" viewBox="0 0 200 200">
                <g transform="translate(100 100)">
                    <path transform="translate(-50 -50)" fill="tomato" d="M92.71,7.27L92.71,7.27c-9.71-9.69-25.46-9.69-35.18,0L50,14.79l-7.54-7.52C32.75-2.42,17-2.42,7.29,7.27v0 c-9.71,9.69-9.71,25.41,0,35.1L50,85l42.71-42.63C102.43,32.68,102.43,16.96,92.71,7.27z"></path>
                    <animateTransform attributeName="transform"
                                      type="scale"
                                      values="1; 1.5; 1.25; 1.5; 1.5; 1;"
                                      dur="1s"
                                      repeatCount="1"
                                      additive="sum">
                    </animateTransform>
                </g>
            </svg>
        </div>
    </div>*@
<div class="swipingContentPage">

        <div class="isSwiping" @onmouseup="HandleMouseUp" @ontouchstart=HandleTouchStart @onkeypress:preventDefault=true @ontouchmove="HandleTouchMove"
             @ontouchend=HandleTouchEnd @onmousedown=HandleMouseDown @onmousemove=HandleMouseMove style="overflow:hidden;">

            
            <div class="card-choice-icon" style="display:flex;justify-content:center;">
                
                <div class="card" style="width: 18rem; margin: 2em; transform: translateX(@mvmt) rotate(@rotation);transition: @mvmtReset; cursor: @cursorGrab;">

                    <img class="card-img-top" src="https://via.placeholder.com/350x150" alt="Card image cap">


                    <div class="card-body">
                        <h5 class="card-title">Placeholder title</h5>
                        <p class="card-text">Placeholder description</p>

                    </div>
                </div>

            </div>
        </div>
        <div class="swipe-controls">
            <div class="swipe-buttons">
                <Button Type="primary" Shape="circle" Icon="heart" Size="large"/>
            </div>
            <div class="swipe-buttons">
                <Button Type="primary" Shape="circle" Icon="close" Size="large"/>
            </div>
        </div>
</div>

    @code {
        #region Swiping
        private List<ShowDTO> dataSet;
        private List<ShowDTO> swipedSet = new List<ShowDTO>();
        private int dataCount = 0;
        private readonly string baseApiUri = "https://localhost:5021";
        private string selectedData = "";

        string mvmt;
        string rotation;

        string mvmtReset = "";
        string rotationReset = "";

        private bool animeCheck;
        private bool movieCheck;
        private string cursorGrab;
        ((double, double) tupleMouse, DateTime StartTime) mousePoint;
        bool pressedDown;

        void HandleMouseDown(MouseEventArgs m)
        {
            cursorGrab = "-webkit-grabbing;";
            pressedDown = true;
            (double, double) pos = (m.ClientX, m.ClientY);
            mousePoint.StartTime = DateTime.Now;
            mousePoint.tupleMouse = pos;
        }

        void HandleMouseMove(MouseEventArgs m)
        {
            if (pressedDown == true)
            {
                mvmtReset = "";
                double difference = m.ClientX - mousePoint.tupleMouse.Item1;
                mvmt = difference + "px";
                rotation = (difference / 10) + "deg";
            }
        }

        void HandleMouseUp(MouseEventArgs m)
        {
            pressedDown = false;
            cursorGrab = "";
            mvmt = "";
            mvmtReset = "transform 0.5s";
            const double swipeThreshold = 0.8;
            try
            {
                if (mousePoint.Equals(default))
                {
                    return;
                }


                var diffX = mousePoint.tupleMouse.Item1 - m.ClientX;
                var diffY = mousePoint.tupleMouse.Item2 - m.ClientY;
                var diffTime = DateTime.Now - mousePoint.StartTime;
                var velocityX = Math.Abs(diffX / diffTime.Milliseconds);
                var velocityY = Math.Abs(diffY / diffTime.Milliseconds);

                if (velocityX < swipeThreshold && velocityY < swipeThreshold) return;
                if (Math.Abs(velocityX - velocityY) < .5) return;

                if (velocityX >= swipeThreshold)
                {
                    if (diffX < 0)
                    { ChooseRight(dataSet[0].Id); }
                    else { ChooseLeft(dataSet[0].Id); }
                }
            }

            catch (Exception e)
            {
            }
        }
        (TouchPoint ReferencePoint, DateTime StartTime) startPoint;

        string swipingMessage = "touch to begin";

        void HandleTouchStart(TouchEventArgs t)
        {
            startPoint.ReferencePoint = t.TargetTouches[0];
            startPoint.StartTime = DateTime.Now;
            cursorGrab = "-webkit-grabbing;";
        }

        void HandleTouchMove(TouchEventArgs t) //A list of TouchPoint for every point of contact currently touching the surface.
        {
            mvmtReset = "";
            double difference = t.TargetTouches[0].ClientX - startPoint.ReferencePoint.ClientX;
            mvmt = difference + "px";
            rotation = (difference / 10) + "deg";
        }


        void HandleTouchEnd(TouchEventArgs t)
        {
            mvmt = "";
            mvmtReset = "transform 0.5s";
            cursorGrab = "";
            const double swipeThreshold = 0.8;
            try
            {
                if (startPoint.ReferencePoint == null)
                {
                    return;
                }

                var endReferencePoint = t.ChangedTouches[0];

                var diffX = startPoint.ReferencePoint.ClientX - endReferencePoint.ClientX;
                var diffY = startPoint.ReferencePoint.ClientY - endReferencePoint.ClientY;
                var diffTime = DateTime.Now - startPoint.StartTime;
                var velocityX = Math.Abs(diffX / diffTime.Milliseconds);
                var velocityY = Math.Abs(diffY / diffTime.Milliseconds);

                if (velocityX < swipeThreshold && velocityY < swipeThreshold) return;
                if (Math.Abs(velocityX - velocityY) < .5) return;

                if (velocityX >= swipeThreshold)
                {
                    if (diffX < 0)
                    { ChooseRight(dataSet[0].Id); }
                    else { ChooseLeft(dataSet[0].Id); }
                }
            }

            catch (Exception e)
            {
            }
        }

        void SearchAndAdd(int id, string answer)
        {
            foreach (ShowDTO show in dataSet)
            {
                if (show.Id == id)
                {
                    swipedSet.Add(show);
                    dataSet.Remove(show);
                    return;
                }
            }
        }

        void ChooseLeft(int id)
        {
            SearchAndAdd(id, "yes");
        }

        void ChooseRight(int id)
        {
            SearchAndAdd(id, "no");
        }


        public async Task LoadData(string dataURL, string _selectedData)
        {
            selectedData = _selectedData;
            dataCount = dataSet.Count;
        }

        #endregion
    }

